.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  font-size: 18px;
  min-width: 390px;
  color: #666;
  padding: 18px 0 8px 0;
  cursor: pointer;
}

.control .btnTogglePlay {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ec1f55;
}
